<br><br>

<a href="/clientes" class="btn btn-secondary">Voltar para Listagem de Clientes</a><br><br>
<a href="/usuarios" class="btn btn-secondary">Voltar para Listagem de Usuarios</a><br><br>
<a href="/"><input type="button" class="btn btn-secondary" value="Voltar para Inicio"> 
<footer>Rodapé</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>