<% /* app.get("/", function(req,res){
    res.render("index");

})
*/ %>



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
        <%- include("partials/cabecalho.ejs") %>
        
    </head>



    <body>
        <h3>Seguradora IFPE</h3>

        <div>

        <a href="/clientes">Listar Clientes</a><br>
        <a href="/clientes/cadastrar">Cadastrar Clientes</a><br>

        <a href="/usuarios">Listar Usuarios</a><br>
        <a href="/usuarios/cadastrar">Cadastrar Usuarios</a><br>

    </body>
</html>