<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script src='main.js'></script>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
        <div>
            Seu nome é <%= cliente.nome %> e você tem <%= cliente.idade %> anos
        </div>

        </a>
        <%- include("../partials/rodape.ejs") %>
</body>
</html>