<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login Usuario</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <form action="/usuarios/login" method="post">   
        <% if (salvo == 1) { %>
            <div>
                Email ou senha invalido
            </div>
        <% } %>
        Email: <input type="email" name="email" required>

        Senha: <input type="password" name="senha">
        <input type="submit" value="Login">
    </form>

    <!--<div class="container">
        <div class="mb-3">
            <label for="nome1" class="form-control">Nome: </label>
            <input type="text" class="form-control" name="name1">
        </div>
    </div>-->
    

    <a href="/">Voltar para Página Inicial</a><br>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>